<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SportCar | Produits</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/static/favicon.ico"/>
</head>
<body>
    

    <div class="container">
        <div class="navbar">
            <div class="logo">
                <a href="/"><img src="{{url_for('static', filename='voiture-de-course.png')}}" width="100px"></a>
            </div>
            <nav>
                <ul id="MenuItems">
                    <li><a href="/">Accueil</a></li>
                    <li><a href="/products">Produits</a></li>
                    <li><a href="/about_us">A propos de nous</a></li>
                    <li><a href="/account_log">Compte</a></li>            
                </ul>
            </nav>
            <a href="/cart"><img src="{{url_for('static', filename='cart.png')}}" width="30px" height="30px"></a>
            <img src="{{url_for('static', filename='menu.png')}}" class="menu-icon" 
            onclick="menutoggle()">
        </div>
    </div>


<div class="small-container">
    
    <div class="row row-2">
        <h2>Tous Les Produits</h2>
        <select>
            <option>Trier par defaut</option>
            <option>Trier par prix</option>
            <option>Trier par popularité</option>
            <option>Trier par nom</option>
        </select>
    </div>
    

    <div class="small-container">
        <div class="row">
        {% for cars in cars %}
            <div class="col-3-selec">
                <a href="{{ url_for('cars', cars_id=cars['id']) }}"><img src="{{ cars['image'] }}">
                <a href="{{ url_for('cars', cars_id=cars['id']) }}"><h4>{{ cars['modele'] }}</h4></a>
                <p>{{ cars['price'] }} €/H</p>
            </div>
            {% endfor %}
        </div>
    </div>
    </div>
    
    
</div>
<!-----brands--->
<div class="brands">
    <div class="small-container">
        <h2 class="title">Nos partenaires</h2>
        <div class="row">
            <div class="col-5">
                <a href="https://www.bmw.fr/fr/accueil.html"><img src="{{url_for('static', filename='bmw.png')}}"></a>
            </div>
            <div class="col-5">
                <a href="https://www.peugeot.fr/"><img src="{{url_for('static', filename='Peugeot.png')}}"></a>
            </div>
            <div class="col-5">
                <a href="https://www.audi.fr/site/officiel"><img src="{{url_for('static', filename='Audi.png')}}"></a>
            </div>
            <div class="col-5">
                <a href="https://www.renault.fr/"><img src="{{url_for('static', filename='Renault.png')}}"></a>
            </div>
            <div class="col-5">
                <a href="https://www.mercedes-benz.fr/"><img src="{{url_for('static', filename='mercedes.png')}}"></a>
            </div>
        </div>
    </div>
</div>
<!-----footer----->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Télécharge notre App !</h3>
                <p>Télécharge Notre application pour Android et IOS</p>
                <div class="app-logo">
                    <img src="{{url_for('static', filename='play-store.png')}}">
                    <img src="{{url_for('static', filename='app-store.png')}}">
                </div>
            </div>
            <div class="footer-col-2">
                <a href="/"><img src="{{url_for('static', filename='voiture-de-course.png')}}" width="100px"></a>
                <p>Un substitue à la location traditionnelle</p>
            </div>
            <div class="footer-col-3">
                <h3>Liens Utiles</h3>
                <ul>
                    <li>Coupons</li>
                    <li>Blog Post</li>
                    <li>Return Policy</li>
                    <li>Join Affiliate</li>
                </ul>
            </div>
            <div class="footer-col-4">
                <h3>Suis nous</h3>
                <ul>
                    <li>Facebook</li>
                    <li>Instagram</li>
                    <li>Youtube</li>
                    <li>Twitter</li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="copyright">Copyright 2021 - SCHMIT | SOYER</p>
    </div>
</div>
<!-------js for toggle menu -------->
    <script>
        var MenuItems = document.getElementById("MenuItems");

        MenuItems.style.maxHeight = "0px";

        function menutoggle(){
            if(MenuItems.style.maxHeight == "0px")
                {
                    MenuItems.style.maxHeight = "200px";
                }
            else
                {
                    MenuItems.style.maxHeight = "0px"
                }
        }
    </script>

</body>
</html>